input:required:invalid{
	color:red;
}
body{
	width:384px;
	margin:auto;
	border: solid black;
	text-align: center;			
	word-wrap: break-word;
	padding-bottom:2%;
	position: absolute;
	top:25%;
	left:50%;
	transform: translate(-50%, -25%);

}
h1{
	color: black;
}
.high{
	color:blue;
}
.low{
	color:red;
}
.correct{
	color:green;
}
li{
	list-style-type: none;
}
ul{
	padding:0;
}